@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

body {
    background-color: #FBE8A6;
    font-family: 'Oswald', sans-serif;
}

.background-primary {
    background-color: #F4976C;
}

.slide {
    height: 80vh;
    width: auto;
    object-fit: cover;
    margin: auto;
    display: block;
    border-radius: 30px;
}

@media (max-width: 900px) {
    .slide {
        width: auto;
        height: 40vh;
    }
}

.slider-container {
    width: 100%;
    margin-top: 15px;
    box-shadow: 1px 1px 5px 5px #2f334c;
    border-radius: 40px;
    border-width: thick;
    background-color: #303c6c;
}
